{
"extends": [
  "react-app"
],
"rules": {
   "no-console": "warn",
   "prefer-const": "warn",
   "quotes": ["warn", "single"],
   "jsx-quotes": ["warn", "prefer-double"],
   "indent": ["warn", 2],
   "max-len": ["warn", {"code": 120}],
   "comma-dangle": ["warn", "always-multiline"],
   "semi": ["warn", "always"],
}
}