.form-control.error {
    input, 
    textarea {
        border: 1px solid red;
    }

    span {
        color: red;
    }
}

.text-error {
    color: red;
    border: 1px solid red;
    padding: 1rem;
}