.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d6b2a5;
    padding: 0 1rem;

    .logo {
      height: 80%;
      display: flex;
      align-items: center;
      gap: 10%;

      img {
        height: inherit;
      }
    }

    a {
      text-decoration: none;
      border: 2px solid grey;
      border-radius: 5%;
      padding: 5px 30px;
      border-style: outset;
    }
}